.contenedor{
    background-color: rgb(58, 58, 63);
    display: flex;
   

}

.item{
    background-color: aqua;
    width: 70px;
    height: 100px;
    margin: 20px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    