.contenedor{
    background-color: rgb(110, 117, 117);
    width: 60%;
    margin: 0 auto; /* arriba y abajo    derecha e izquierda*/
     height: 600px;   /*para entender ejemplo */

}

.verde{
    background-color: rgb(144, 234, 144);
    width: 90%;
    margin: 0 auto 20px; /* arriba - laterales - abajo*/
    height: 150px;
}

.celeste{
    background-color: rgb(0, 179, 245);
    width: 90%;
    margin: 0 auto 20px; /* arriba - laterales - abajo*/
    height: 150px;
}


.amarillo{
    background-color: rgb(255, 242, 0);
    width: 90%;
    margin: 0 auto 20px; /* arriba - laterales - abajo*/
    height: 150px;
}